.commit {
  --border: 1px solid gainsboro;
  --radius: 7px;
  padding: 1rem;
  border: var(--border);
  border-bottom: none;
}

.commit:first-child {
  border-top-left-radius: var(--radius);
  border-top-right-radius: var(--radius);
}

.commit:last-child {
  border-bottom: var(--border);
  border-bottom-left-radius: var(--radius);
  border-bottom-right-radius: var(--radius);
}

.message {
  font-size: 0.875rem;
  margin-bottom: 0.275rem;
}

.avatar {
  height: 20px;
  width: 20px;
  border-radius: 50%;
}

.committer {
  display: flex;
  align-items: center;
  font-size: 0.75rem;
}

.committerLink {
  margin: 0 0.5rem;
  color: black;
  font-weight: bold;
}
