.table {
  border-collapse: collapse;
  width: 100%;
}

.cell {
  border: 1px solid gainsboro;
  padding: 0.5rem;
  text-align: left;
}

.row:hover {
  background-color: whitesmoke;
}

.viewAll {
  text-align: center;
}
